// These are the colors used in Buidler's mascots illustrations
$black = #070708
$darkBrown = #281d1e
$pink = #dc5e7b
$orange = #f26d4a
$lightOrange = #f6916d
$paleOrange = #f9a682
$darkYellow = #f9a936
$yellow = #F9C838
$white = #ffffff
$grey = #2c3e50
$lightGrey = #999999
$purple = #47189d
