// colors
$accentColor = #f9b046
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py


$black = #070708
$darkBrown = #281d1e
$pink = #dc5e7b
$orange = #f26d4a
$lightOrange = #f6916d
$paleOrange = #f9a682
$darkYellow = #f9a936
$yellow = #ffd304
$white = #ffffff