@font-face
  font-family 'Chivo'
  src url('../fonts/Chivo-Regular.ttf')
  font-weight 400

@font-face
  font-family 'ChivoLight'
  src url('../fonts/Chivo-Light.ttf')
  font-weight 200

@font-face
  font-family 'ChivoBold'
  src url('../fonts/Chivo-Bold.ttf')
  font-weight 600

@font-face
  font-family 'ChivoBlack'
  src url('../fonts/Chivo-Black.ttf')
  font-weight 800

@font-face
  font-family 'RobotoRegular'
  src url('../fonts/Roboto-Regular.ttf')

@font-face
  font-family 'RobotoMedium'
  src url('../fonts/Roboto-Medium.ttf')
