@font-face
  font-family 'Chivo'
  src url('../fonts/Chivo-Regular.ttf')

@font-face
  font-family 'ChivoLight'
  src url('../fonts/Chivo-Light.ttf')

@font-face
  font-family 'ChivoBold'
  src url('../fonts/Chivo-Bold.ttf')

@font-face
  font-family 'ChivoBlack'
  src url('../fonts/Chivo-Black.ttf')

@font-face
  font-family 'RobotoRegular'
  src url('../fonts/Roboto-Regular.ttf')

@font-face
  font-family 'RobotoMedium'
  src url('../fonts/Roboto-Medium.ttf')
