@import "util/variables.styl"
@import './landing-config.styl'
@import 'util/variables.styl'
@import "./fonts.styl"
//
//*
//  margin 0
//  padding 0
//  box-sizing border-box
//  font-family: 'ChivoLight', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
//  color $black
//
//html
//  overflow-x hidden
//
//body
//  background $background-white
//  font-size 15px
//  overflow-x hidden
//
//.mb-hidden
//  @media (max-width: 1001px)
//    display none !important
//
//.mb-show
//  @media screen and (min-width: 1000px)
//    display none !important
//
//a
//  text-decoration none
//
//.hidden
//  pointer-events none
//  position absolute !important
//  left 100vw !important
//
//.padded-container
//  max-width 960px
//  padding 1rem 0
//  margin 0 auto
//  @media (max-width: 1000px)
//    padding 1rem 20px
//    max-width 513px
//  @media (min-width: 1000px) and (max-width: 1040px)
//    max-width 860px
//
//@import './config.styl'
//
//.custom-layout
//  padding-top $LandingNavbarAndBannerHeight
//
//.navBarAndBannerSticky
//  background #ffffff
//  position: fixed
//  z-index 100000
//  top: 0
//  width 100%
//  height $LandingNavbarAndBannerHeight
//
//
//.sidebar-mask
//  position fixed
//  z-index 9
//  top 0
//  left 0
//  width 100vw
//  height 100vh
//  display none
//
//.sidebar
//  font-size 550
//  font-size 15px
//  background-color #fff
//  width 20rem
//  position fixed
//  z-index 10
//  margin 0
//  top $bannerAndNavbarHeight
//  left 0
//  bottom 0
//  box-sizing border-box
//  border-right 1px solid $borderColor
//  overflow-y auto

