.dark-mode,
.hc-dark-mode {

    $stroke = rgba(75, 77, 77, 1);
    $background = rgba(32, 35, 42, 1);
    $text = rgba(210, 211, 213, 1);
    $text_2 = rgba(155, 159, 168, 1);
    $link = #CBB100;
    $accent = rgba(204, 178, 0, 1);
    $code-background = rgba(22, 24, 29, 1);
    $code-text = rgba(142, 144, 148, 1);
    $sidebar-links = rgba(176, 178, 181, 1);
    $custom-block-background = rgba(229, 230, 231, 1);
    $custom-block-text = rgba(22, 24, 29, 1);

    .sidebar::-webkit-scrollbar {
        width: 10px;
        // border-left: 1px solid rgba(255,255,255,0.2);
    }
   
    .sidebar::-webkit-scrollbar-track {
        background: transparent;
    }

    .sidebar::-webkit-scrollbar-thumb {
        background-color: rgba(142, 144, 148, 1);
        /* outline: 1px solid slategrey; */
        border-radius: 100px;

    }

    .top-bar {
        background: rgba(242, 242, 242, 1);
        .top-bar-content {
            .colored {
                span {
                    color: $accent;
                }
            }
            .top-text {
                a {
                    color: #040405;
                    span {
                        color: inherit;
                    }
                }
            }
        }
    }
    .navbar {
        border-bottom: 1px solid $stroke !important;
        .logo {
            background-image: url('../../theme/img/hardhat_logos/Hardhat-Logo-Dark.svg');
        }
        .dark-mode-toggle {
            .dark-mode-icon {
                background-image: url('../../theme/img/icons/dm_dark.svg');
            }   
        }
        .links {
            background: inherit;
            .nav-links {
                background: inherit;
                .nav-item {
                    a {
                        background: inherit;
                        color: white !important;
                        &:after {
                            background: white;
                        }
                    }
                }
            }
        }
        .social-links {
            filter: invert(1);
        }
        .algolia-autocomplete {
            #algolia-search-input {
                filter: invert(1);
            }
            .ds-input {
                // background: $code-background;
                // color: $text;
                // border-color: $stroke;
                &:focus {
                    border-color: #0857BB
                }
                &::placeholder {
                    color: $text;
                }
            }
        }
    }
    .sidebar,
    .navbar,
    .page {
        background: $background;
        h1, h2, h3, h4, h5, h6, p {
            color: $text;
            code {
                background: $code-background;
                color: $code-text;
            }
            .header-anchor {
                color: $accent;
            }
        }
        h2 {
            border-bottom-color: $stroke;
        }
    }
    .page {
        p, ul li, ol li {
            code {
                background: $code-background;
                color: $code-text;
            }
        }
        a {
            color: $link;
        }
        hr {
            border-top-color: $stroke;
        }
        .extra-class {
            pre {
                background: $code-background;
                border: 1px solid rgba(108, 111, 116, 1);
            }
        }
        .custom-block {
            .custom-block-title, p {
                color: $custom-block-text;
                code {
                    background: $text;
                    color: $code-text;
                }
            }
            &.tip {
                background: $custom-block-background;
                border-left-color: rgba(66, 185, 131, 1);
            }
            &.warning {
                background: rgba(254, 246, 241, 1);
                border-left-color: rgba(240, 141, 73, 1);
            }
        }
        ul, ol {
            li {
                color: $text;
                code {
                    background: $code-background;
                    color: $code-text;
                }
            }
        }
        .page-edit {
            .edit-link {
                a {
                    color: $text_2;
                }
            }
            .last-updated {
                .prefix {
                    color: $text_2;
                }
            }
        }
        .page-nav {
            .inner {
                border-top-color: $stroke;    
            }
        }
    }
    .sidebar {
        border-right: 1px solid $stroke;
        a {
            color: $sidebar-links;
            &.active {
                color: $accent;
                border-left-color: $accent;
            }
        }
        .sidebar-heading {
            color: $sidebar-links;
        }
        .nav-links {
            border-bottom: 1px solid $stroke;
        }
    }
}