.light-mode {
    // background:
    .navbar {
        background: rgba(252, 252, 241, 1);
        .navigation-bar {
            background: inherit;
            header {
                background: inherit
                .links {
                    background: inherit
                    nav {
                        background: inherit
                        .nav-item {
                            a {
                                background: inherit
                            }
                        }
                    }
                }
            }
        }
    }
}