@import url("../../../../../node_modules/purecss/build/pure-min.css");

.title-bar,
.summary,
.plan {
  margin: 1rem;
}

.summary,
.plan {
  border: 1px solid black;
  padding: 1rem;
}

.summary-lists {
  font-size: 90%;
}

.summary-lists ul {
  list-style-type: none;
  padding-inline-start: 1em;
}

.mermaid {
  text-align: center;
}

.network-info {
  text-align: right;
}

ul.actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.actions > li {
  padding: 1rem 0.5rem;
  margin: 0.5rem auto;
  border: 1px solid black;
  cursor: pointer;
}

/* default deploy & call styles for nodes and actions */
[id^="action-deploy"] {
  background-color: green;
}

[id^="action-call"] {
  background-color: yellow;
}

[id^="action-transfer"] {
  background-color: orange;
}

[id^="action-event"] {
  background-color: cyan;
}

[class*="deploy-"] > rect {
  fill: green !important;
}

[class*="call-"] > rect {
  fill: yellow !important;
}

[class*="transfer-"] > rect {
  fill: orange !important;
}

[class*="event-"] > rect {
  fill: cyan !important;
}

/* style for nodes & actions when hovered */
.hovering > rect {
  fill: blue !important;
}

li.hovering {
  background-color: blue;
}
