@import "colors.styl"

.home .hero .action-button
  color: $black
  background-color $yellow
  border-bottom 1px solid darken($yellow, 10%)
  &:hover
    background-color lighten($yellow, 10%)


.home .hero img
  margin: 4rem auto 1.5rem auto;
  max-height: 240px

span.site-name
  display: none
  
.home .features
  margin-top: 7rem

a code
  color: $accentColor !important

//body
//background: #f8f8f8
