/node_modules
/dist
/internal
/*.d.ts
/*.d.ts.map
/*.js
/*.js.map
/build-test
/test/fixture-projects/**/artifacts
/test/fixture-projects/**/artifacts-dir
/test/fixture-projects/**/cache
CHANGELOG.md
.nyc_output
