# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# test coverage output
coverage
!src/internal/builtin-plugins/coverage
!test/internal/builtin-plugins/coverage
!src/types/coverage

# all the tmp folders in the fixture projects
/test/fixture-projects/tmp/
