$background-white = #FFFFFF
$dark-gray = #262D38
$hh-yellow = #FFF04D
$black = #0a0a0a

$bp-desktop = 980px
$bp-tablet = 720px
$bp-phablet = 420px
$bp-phone = 380px

$carousel-height = 490px
$carousel-height-mb = 688px

$bannerAndNavbarHeight = 128px
