html,
body {
  padding: 0;
  margin: 0;
  font-family: ChivoRegular;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ChivoLight";
  src: url("/fonts/Chivo-Light.woff2") format("woff2"),
    url("/fonts/Chivo-Light.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChivoRegular";
  src: url("/fonts/Chivo-Regular.woff2") format("woff2"),
    url("/fonts/Chivo-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChivoBold";
  src: url("/fonts/Chivo-Bold.woff2") format("woff2"),
    url("/fonts/Chivo-Bold.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-SemiBold.woff2") format("woff2"),
    url("/fonts/Roboto-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-Bold.woff2") format("woff2"),
    url("/fonts/SourceCodePro-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-SemiBold.woff2") format("woff2"),
    url("/fonts/SourceCodePro-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-Medium.woff2") format("woff2"),
    url("/fonts/SourceCodePro-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-Regular.woff2") format("woff2"),
    url("/fonts/SourceCodePro-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.DocSearch-Form {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --docsearch-primary-color: #ccb200;
  --docsearch-highlight-color: #16181d;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
  box-shadow: var(--docsearch-searchbox-shadow);
}

.DocSearch-Hit {
  --docsearch-primary-color: #ccb200;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  background-color: var(--docsearch-highlight-color);
}
.DocSearch-Hit-source {
  --docsearch-primary-color: #ccb200;
  --docsearch-highlight-color: var(--docsearch-primary-color);
}
