html,
body {
  padding: 0;
  margin: 0;
  font-family: Chivo, sans-serif;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
