html,
body {
  padding: 0;
  margin: 0;
  font-family: ChivoRegular;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ChivoLight";
  src: url("../assets/fonts/Chivo-Light.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ChivoRegular";
  src: url("../assets/fonts/Chivo-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ChivoBold";
  src: url("../assets/fonts/Chivo-Bold.ttf");
  font-weight: 400;
  font-style: normal;
}
