# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# test coverage output
coverage

# all the tmp folders in the fixture projects
/test/fixture-projects/tmp/

!src/**/*.js
!src/**/*.cjs
!src/**/*.css
!src/**/*.png
