[package]
name = "rethnet_evm"
version = "0.1.0-dev"
edition = "2021"

[dependencies]
anyhow = { version = "1.0.64", default-features = false, features = ["std"] }
bytes = { version = "1.2.1", default-features = false }
hashbrown = { version = "0.12.3", default-features = false, features = ["serde"] }
primitive-types = { version = "0.11.1", default-features = false, features = ["impl-serde"] }
revm = { version = "2.1.0", default-features = false, features = ["k256", "with-serde"] }
sha3 = { version = "0.10.4", default-features = false }
tokio = { version = "1.21.2", default-features = false, features = ["sync"] }
