[package]
name = "rethnet_evm"
version = "0.1.0-dev"
edition = "2021"

[dependencies]
anyhow = { version = "1.0.64", default-features = false, features = ["std"] }
auto_impl = { version = "1.0.1", default-features = false }
ethers-signers = { version = "1.0.0", default-features = false }
hashbrown = { version = "0.12.3", default-features = false, features = ["serde"] }
log = { version = "0.4.17", default-features = false }
parking_lot = { version = "0.12.1", default-features = false }
rethnet_eth = { version = "0.1.0-dev", path = "../rethnet_eth" }
revm = { path = "../../../revm/crates/revm", version = "2.1.0", default-features = false, features = ["dev", "k256", "with-serde"] }
secp256k1 = { version = "0.24.1", default-features = false, features = ["alloc"] }
sha3 = { version = "0.10.4", default-features = false }
signature = { version = "1.6.4", default-features = false, features = ["std"] }
tokio = { version = "1.21.2", default-features = false, features = ["rt-multi-thread", "sync"] }
