name: Issue autoassignment

on:
  issues:
    types: [opened]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: "Autoassign issue"
        uses: pozil/auto-assign-issue@v1.1.0
        with:
          assignees: alcuadrado,fvictorio,morgansliman,feuGeneA,kanej
          numOfAssignee: 1
