name: E2E tests

on:
  push:
    branches:
      - "**"

jobs:
  run-script-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v2
        with:
          node-version: 20
      - name: Run fixture-projects script
        run: |
          cd e2e
          chmod +x run-fixture-projects.sh
          ./run-fixture-projects.sh
        shell: bash
      - name: Run test-project-initialization script
        run: |
          cd e2e
          chmod +x test-project-initialization.sh
          ./test-project-initialization.sh
        shell: bash
  run-script-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v2
        with:
          node-version: 20
      - name: Run fixture-projects script
        run: |
          cd e2e
          chmod +x run-fixture-projects.sh
          ./run-fixture-projects.sh
        shell: bash
      - name: Run test-project-initialization script
        run: |
          cd e2e
          chmod +x test-project-initialization.sh
          ./test-project-initialization.sh
        shell: bash
  run-script-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v2
        with:
          node-version: 20
      - name: Run fixture-projects script
        run: |
          cd e2e
          chmod +x run-fixture-projects.sh
          ./run-fixture-projects.sh
        shell: bash
      - name: Run test-project-initialization script
        run: |
          cd e2e
          chmod +x test-project-initialization.sh
          ./test-project-initialization.sh
        shell: bash
