name: CI

on:
  push:
    branches: main
    paths:
      - ".github/workflows/hardhat-ci.yml"
      - "packages/**"
      - "config/**"
      - "pnpm-lock.yaml"
  pull_request:
    paths:
      - ".github/workflows/hardhat-ci.yml"
      - "packages/**"
      - "config/**"
      - "pnpm-lock.yaml"
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  list-packages:
    name: List packages
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: yq -p yaml -o json pnpm-lock.yaml | tee pnpm-lock.json
      - id: generate
        env:
          PACKAGE_IGNORE: |
            [
              ".",
              "v-next/",
              "packages/common",
              "packages/eslint-plugin-hardhat-internal-rules",
              "packages/eslint-plugin-slow-imports",
              "packages/hardhat-core"
            ]
          COMMON_FILTERS: |
            [
              ".github/workflows/hardhat-ci.yml",
              "config/**",
              "packages/common/**",
              "pnpm-lock.yaml"
            ]
        run: |
          echo "filters<<EOF" >> $GITHUB_OUTPUT
          node scripts/generate-filters.js |
            yq -Po yaml 'with_entries(.key |= sub("^packages/", ""))' |
            tee -a $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: ${{ steps.generate.outputs.filters }}

  ci:
    needs: list-packages

    if: needs.list-packages.outputs.packages != '[]'

    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list-packages.outputs.packages) }}
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [18, 20, 22]
        exclude:
          - package: hardhat-vyper
            os: windows-latest
          - package: hardhat-vyper
            os: macos-latest
          - os: windows-latest
            node: 20
          - os: macos-latest
            node: 20
          - os: windows-latest
            node: 22
          - os: macos-latest
            node: 22

    name: "[${{ matrix.package }}] ci on ${{ matrix.os }} (Node ${{ matrix.node }})"
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: packages/${{ matrix.package }}

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Build
        run: pnpm build
      - name: Run tests
        run: pnpm run ${{ matrix.package == 'hardhat-chai-matchers' && 'test:ci' || 'test' }}
