name: hardhat-core CI

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/hardhat-core-ci.yml"
      - "rust-toolchain"
      - "Cargo.lock"
      - "Cargo.toml"
      - "config/**"
      - "crates/**"
      - "packages/hardhat-core/**"
      - "packages/hardhat-common/**"
  pull_request:
    branches:
      - "**"
    paths:
      - ".github/workflows/hardhat-core-ci.yml"
      - "rust-toolchain"
      - "Cargo.lock"
      - "Cargo.toml"
      - "config/**"
      - "crates/**"
      - "packages/hardhat-core/**"
      - "packages/hardhat-common/**"
  workflow_dispatch:

defaults:
  run:
    working-directory: packages/hardhat-core

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  check-edr:
    name: Check EDR
    runs-on: ubuntu-latest
    # Setting RUSTFLAGS env for clippy makes it not include custom rules
    env:
      RUSTFLAGS: -Dwarnings
      RUSTDOCFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust (stable)
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      # Install pre-built binaries for cargo hack
      - uses: taiki-e/install-action@cargo-hack

      - uses: Swatinem/rust-cache@v2

      - name: Cargo hack
        uses: actions-rs/cargo@v1
        with:
          command: hack
          args: check --feature-powerset --no-dev-deps

  test-core:
    name: Test core (${{ matrix.os }}, Node ${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    needs: check-edr
    strategy:
      fail-fast: false
      matrix:
        node: [18.15]
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache:

      - name: Increase memory limit for macOS
        if: matrix.os == 'macos-latest'
        run: echo "NODE_OPTIONS=--max-old-space-size=4096" >> $GITHUB_ENV

      - name: Install Rust (stable)
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: Install package
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Cache network requests
        uses: actions/cache@v2
        with:
          path: |
            packages/hardhat-core/test/internal/hardhat-network/provider/.hardhat_node_test_cache
          key: hardhat-network-forking-tests-${{ hashFiles('pnpm-lock.yaml') }}-${{ hashFiles('packages/hardhat-core/test/internal/hardhat-network/provider/node.ts') }}

      - name: Build
        run: pnpm build

      - name: Run tests
        env:
          INFURA_URL: ${{ secrets.INFURA_URL }}
          ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
          DO_NOT_SET_THIS_ENV_VAR____IS_HARDHAT_CI: true
          FORCE_COLOR: 3
        run: pnpm test:except-provider

  test-provider:
    name: Test provider (${{ matrix.os }}, Node ${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    needs: check-edr
    strategy:
      fail-fast: false
      matrix:
        node: [18.15]
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install Rust (stable)
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: Install package
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Cache stack trace artifacts
        uses: actions/cache@v2
        with:
          path: |
            packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/artifacts
          key: hardhat-network-stack-traces-tests-${{ hashFiles('packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/**/*.sol') }}-${{ hashFiles('packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/**/test.json') }}-${{ hashFiles('packages/hardhat-core/test/internal/hardhat-network/stack-traces/**/*.ts') }}

      - name: Cache EDR RPC cache
        uses: actions/cache@v2
        with:
          path: |
            packages/hardhat-core/test/internal/hardhat-network/edr-cache
          key: hardhat-network-edr-cache-v2

      - name: Build
        run: pnpm build

      - name: Run tests
        env:
          INFURA_URL: ${{ secrets.INFURA_URL }}
          ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
          DO_NOT_SET_THIS_ENV_VAR____IS_HARDHAT_CI: true
          FORCE_COLOR: 3
        run: pnpm test:provider

  test-edr-rs:
    name: Test EDR (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: check-edr
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        include:
          - RUSTFLAGS: "-Dwarnings"
          - os: "windows-latest"
            RUSTFLAGS: "-Dwarnings -Ctarget-feature=+crt-static"
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust (stable)
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: Cache EDR RPC cache
        uses: actions/cache@v2
        with:
          path: |
            **/edr-cache
          key: edr-rs-rpc-cache-v1

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: ${{ matrix.RUSTFLAGS }}
          ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
          INFURA_URL: ${{ secrets.INFURA_URL }}
        with:
          command: test
          args: --workspace --all-targets --all-features

      - name: Doctests
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: ${{ matrix.RUSTFLAGS }}
        with:
          command: test
          args: --doc --workspace --features tracing

      # disable until:
      # 1) https://github.com/napi-rs/napi-rs/issues/1405 is resolved (Windows-only)
      # 2) https://github.com/nextest-rs/nextest/issues/871 (all platforms)
      # when re-enabled, remove "Run cargo test"

      # Nextest
      # - name: Install latest nextest release
      #   uses: taiki-e/install-action@nextest

      # - name: Test with latest nextest release
      #   uses: actions-rs/cargo@v1
      #   env:
      #     RUSTFLAGS: ${{ matrix.RUSTFLAGS }}
      #     CARGO_INCREMENTAL: ${{ matrix.CARGO_INCREMENTAL }}
      #     ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
      #   with:
      #     command: nextest
      #     args: run --workspace --all-features --all-targets

  edr-style:
    name: Check EDR Style
    runs-on: ubuntu-latest
    needs: check-edr
    steps:
      - uses: actions/checkout@v3

      - name: Install nightly rustfmt
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true
          components: clippy

      - uses: Swatinem/rust-cache@v2

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: fmt
          args: --all --check

      - name: Run cargo clippy
        uses: auguwu/clippy-action@1.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          all-features: true
          check-args: --workspace --all-targets -- -Dwarnings

  edr-docs:
    name: Build EDR Docs
    runs-on: ubuntu-latest
    needs: check-edr
    steps:
      - uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: Cargo doc
        uses: actions-rs/cargo@v1
        env:
          RUSTDOCFLAGS: "-D warnings"
        with:
          command: doc
          args: --workspace --no-deps --all-features

  test_types_node:
    name: Test different versions of @types/node
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20]
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm
      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Install @types/node
        run: pnpm add --save-dev @types/node@${{ matrix.node }}
      - name: Build
        run: pnpm build
      - name: Run tests
        env:
          DO_NOT_SET_THIS_ENV_VAR____IS_HARDHAT_CI: true
          FORCE_COLOR: 3
        run: pnpm test:except-tracing
