name: hardhat-vyper CI

on:
  push:
    branches: [$default-branch]
    paths:
      - "packages/hardhat-vyper/**"
      - "packages/hardhat-core/**"
      - "packages/hardhat-common/**"
      - "config/**"
  pull_request:
    branches:
      - "**"
    paths:
      - "packages/hardhat-vyper/**"
      - "packages/hardhat-core/**"
      - "packages/hardhat-common/**"
      - "config/**"
  workflow_dispatch:

defaults:
  run:
    working-directory: packages/hardhat-vyper

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test_on_linux:
    name: Test hardhat-vyper on Ubuntu with Node ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20, 22]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-env
        with:
          node-version: ${{ matrix.node }}
      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Build
        run: pnpm build
      - name: Run tests
        run: pnpm test
