name: Lint

on:
  push:
    branches:
      - v2
    paths:
      - ".github/workflows/lint.yml"
      - "packages/**"
  pull_request:
    paths:
      - ".github/workflows/lint.yml"
      - "packages/**"
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # NOTE: When running on a pull_request_target, we're checking out the repo
      # twice. The first checkout is for the base branch of the PR. The second,
      # for the merge commit. We do this to be able to use the `setup-env`
      # action that's on the base branch.
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/checkout@v4
        if: github.event_name == 'pull_request_target'
        with:
          ref: "refs/pull/${{ github.event.number }}/merge"
          persist-credentials: false
      - if: github.event_name == 'pull_request_target'
        name: Check out setup-env action from the base branch
        run: git checkout --no-overlay $GITHUB_SHA -- .github/actions/setup-env
      - uses: ./.github/actions/setup-env
      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Build
        run: pnpm build
      - name: lint
        run: pnpm lint
      - name: Check dependency versions
        run: node scripts/check-dependencies.js
  comment:
    needs: [lint]
    if: failure() && github.event_name == 'pull_request_target' && needs.lint.result == 'failure'
    name: Comment
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/github-script@v7
        name: Comment on failure
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "Thanks for submitting this PR!\n\nUnfortunately, it has some linter errors, so we can't merge it yet. Can you please fix them?\n\nRunning pnpm lint:fix in the root of the repository may fix them automatically."
            })
