name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        working-directory: ["", "docs"]
    defaults:
      run:
        working-directory: ${{ matrix.working-directory || github.workspace }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "pnpm"
          cache-dependency-path: |
            ${{ matrix.working-directory || '.' }}/pnpm-lock.yaml
      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline
      # Linting under the root directory requires build because some packages
      # depend on local eslint-plugin-* packages
      - name: Build
        if: matrix.working-directory == ''
        run: pnpm build
      - name: Lint
        run: pnpm lint
      - name: Check dependency versions
        if: matrix.working-directory == ''
        run: node scripts/check-dependencies.js
  save_event:
    name: Save event
    runs-on: ubuntu-latest
    steps:
      - uses: actions/upload-artifact@v4
        with:
          name: event
          path: ${{ github.event_path }}
