name: Check Spelling

on:
  push:
    branches:
      - main
      - v2
  pull_request:
  workflow_dispatch:

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: streetsidesoftware/cspell-action@v7
        with:
          incremental_files_only: ${{ github.event_name == 'pull_request' }}
          config: cspell.yaml
          report: typos
